.header{
  max-height: 100%;
  min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 5%;
    background-color: #05727e;
}

.heading__img_logo {
    margin-top: 5px;

}

.nav {
    height: 70%;
    display: flex;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-left: 2%;
    margin-top: 15px;
}

.nav-link {
    white-space: nowrap;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #a2a2a2;
    padding: 15px;
}

.nav-link:hover{
  color: #17bed0;
}

.singIn{
    font-size: 25px;
}
