<div class="header">
    <a class="heading__img_logo" routerLink="/home">
      <svg width="60" class="img" viewBox="0 0 492 492"><g fill="#17bed0" stroke-opacity="0"><path d="M161.561 106.835l-48.589 46.445V75.59h49.373zM59.954 223.18l20.376 24.49L252.742 83.845 425.154 247.67l20.376-24.489-192.004-182.4-.784-.845-.784.845z"/></g><path d="M252.742 285.97c17.73 0 32.407-14.805 32.407-32.689s-14.677-32.689-32.407-32.689c-17.73 0-32.407 14.805-32.407 32.69 0 17.883 14.677 32.688 32.407 32.688zm0-124.596c50.764 0 91.117 40.716 91.117 91.907 0 69.089-91.117 170.866-91.117 170.866S161.626 322.37 161.626 253.28c0-51.204 40.365-91.907 91.116-91.907z" fill="#fc354c"/></svg></a>
<div></div>
<nav class="navbar">
        <!-- <a class="navbar-brand" routerLink="/">conduit</a> -->
    
        <!-- Show this for logged out users *appShowAuthed="false"-->
        <ul  class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/rent-my-apartment" routerLinkActive="active"> Приймаю гостей </a>              
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/sing-up" routerLinkActive="active"> Зареєструватися </a>
            </li>
            <li class="nav-item">
              <a class="nav-link singIn" routerLink="/sing-in" routerLinkActive="active"> Вхід </a>
            </li>
        </ul>
    
        <!-- Show this for logged in users *appShowAuthed="true"  -->
        <!-- <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/rent-my-apartment" routerLinkActive="active"> Приймаю гостей </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile', currentUser.username]" routerLinkActive="active">
              {{ currentUser.username }} </a>
          </li>
        </ul> -->
    </nav> 
</div>

