.wrap{
  background-color: #8ac1c742;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a2a2a2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.imgApart{
  height: 150px;
  width: 90%;
}

.listItem{
  padding-inline-start: 0;
  padding-top: 15px;
  margin: 0 auto;
}

/* .list{
  margin: 0 auto;
} */

.searchList{
  width: 100%;
  max-height: 5%;
  background-color: #9bd9e0;
  color: #ffffff;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
}


.searchListWrap{
  width: 30%;
}

.selectedApartament{
  width: 70%;
}

.wrapForAll{
  display: flex;
}


.imgMin{
  width: 0;
  height: 0;
}

.imgApartment{
  width: 820px;
  height: 520px;
}

.imgWrap{
  position: relative;
}

.carousel{
  display: flex;
  position: absolute;
  align-items: center;
  height: 520px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  color: #ffffff;
  font-size: 50px;
}

.start:hover{
  color: #05727e;
}

.end:hover{
  color: #05727e;
}

.end{
  right: 0;
}

.Apart_header{
  margin-top: 1.5%;
  margin-bottom: 1%;
  color: #a2a2a2;
  font-size: 18px;
  font-weight: 600;
}

.Apart_nameOfApart{
  margin-top: 1.5%;
  margin-bottom: 1%;
  color: #17bed0;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

.Apart_address{
  color: #a2a2a2;
  font-size: 14px;
  margin-bottom: 5px;
}

.Apart_about{
  background-color: #f2f2f2;
  width: 380px;
  height: 450px;
  overflow-x: hidden;
}

.Apart_about-header{
  color: #05727e;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  font-weight: 600;
}

.Apart_about-kitchenAppliances-amenities{
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 6px;
}


.Apart_wrap{
  display: flex;
  flex-wrap: wrap;
}

.Apart_inf{
  background-color: #f2f2f2;
  color: #a2a2a2;
  font-size: 14px;
}

.header_inf{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  }

  .Apart_ItemsWrap{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #a2a2a2;
    margin-left: 15px;
  }
