<!-- <div class="backLoginForm"> -->
<div class="mask">
  <div class="loginForm" >
    <form class="loginForm_wrap" (ngSubmit)="submited()">
        <label for="email">Електронна пошта</label>
          <input class="loginForm_input" [(ngModel)]="user.email" name="email" id="email" type="text" #email="ngModel" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}"/>
          <div class="invalidForm"[hidden]="email.valid || email.untouched"><p> Не корректний e-mail</p></div>
          <label for="password" >Пароль</label>
          <input class="loginForm_input" [(ngModel)]="user.password" name="password" type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"/>
          <!-- <div class="invalidForm"[hidden]="password.valid || password.untouched"><p>Занадто простий пароль</p></div> для регистрационной формы-->
          <button type="submit" class="btn loginForm_submit"> Вхід </button>
          <a class="reg" routerLink="/sing-up" routerLinkActive="active"> Зареєструватися </a>
    </form>
    {{ user | json}}

  </div>
</div>
<!-- </div> -->


