.backLoginForm{
  background-image: url('/assets/img/kvartiry.jpg');
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: center;
  align-items: center;
  justify-content: center;
}
.mask{
  background-color: #ffffffb2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90vh;
}

.loginForm_wrap{
  /* display: flex; */
  align-items: center;
  flex-flow: column;
  justify-content: flex-start;
  width: 100%;
  height: 60%;
  color: #a2a2a2;
  display: none;
}

.singUpAll{
  display: none;
  width: 100%;
}

.loginForm{
  padding: 30px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 500px;
  border: 2px solid #a2a2a28e;
  color: #a2a2a2;
  margin: 15px auto;

}



.fbbtn{
  background-color: 	#3b5998;
  color: #fff;
}

.gooogleBtn{
  background-color: 	#d93025;
  color: #fff;
}

.inputForm{
  width: 70%;
  height: 45px;
  margin: 1% auto;
  font-size: 1rem;
}

.line{
  border-top: 1px solid #a2a2a2;
  width: 70%;
  margin: 10px auto;
}

.loginForm_submit{
  background-color: #a2a2a2;
  color: #fff;
  font-weight: 800;
  margin-top: 15px;
}

.singUp{
  color: #a2a2a2;
  text-decoration: none;
  font-weight: 800;
  margin: 10px auto;
  display: none;
}

.singUp:hover{
  color: #17bed0;
}

.loginForm_submit:hover{
  background-color: #17bed0;
}

.singIn{
  color: #a2a2a2;
  text-decoration: none;
  font-weight: 800;
  margin: 10px auto;
  display: none;
}

.visible{
  display: flex;
}
