  <div class="calendar" [class.visible]="visible">
    <div class="calender-header">
      <button class="btn-prev-next" (click)="calendar.setPrevMonth()"> < </button>
      <div class="chosedMonth">{{calendar.currentMonth | date: 'LLLL y'}}</div>
      <button class="btn-prev-next" (click)="calendar.setNextMonth()"> > </button>
    </div>
    <div class="days-container">
      <div class="day-bar"
           *ngFor="let day of calendar.month"
           (click)="onCkick(day.dateObject)"
           [class.selected-date]="isSelectedDate(day.dateObject)"
           [class.last-clicked]="isClickedLast(day.dateObject)">
        <div class="day-value"
             [class.day-of-another-month]="!day.isCurrentMonth">{{day.dayOfMonth}}</div>
      </div>
    </div>
  </div>
