.homePage_backImg{
  background-image: url('/assets/img/kvartiry.jpg');
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  flex-grow: center;
  margin: -130px auto;
}

.homePage_searchForm{
  margin: 350px auto;
}
/* .exmpl{
  border: 2px solid #17bed0;
} */

/* .homePage_searchForm.ready{
  border: 1px solid #eee;
  border-radius: 5px;
  border-color: #eee #ddd #bbb;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 3px;
} */

/* .searchForm_inputCity{
  margin: 0 auto;
} */
