.wrap{
  margin: 0 auto;
  width: 1200px;
}

.imgMin{
  width: 0;
  height: 0;
}

.imgApartment{
  width: 820px;
  height: 520px;
}

.imgWrap{
  position: relative;
}

.carousel{
  display: flex;
  position: absolute;
  align-items: center;
  height: 520px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  color: #ffffff;
  font-size: 50px;
}

.start:hover{
  color: #05727e;
}

.end:hover{
  color: #05727e;
}

.end{
  right: 0;
}

.Apart_header{
  margin-top: 1.5%;
  margin-bottom: 1%;
  color: #a2a2a2;
  font-size: 18px;
  font-weight: 600;
}

.Apart_nameOfApart{
  margin-top: 1.5%;
  margin-bottom: 1%;
  color: #17bed0;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

.Apart_address{
  color: #a2a2a2;
  font-size: 14px;
  margin-bottom: 5px;
}

.Apart_about{
  background-color: #f2f2f2;
  width: 380px;
  height: 450px;
  overflow-x: hidden;
}

.Apart_about-header{
  color: #05727e;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

.Apart_about-kitchenAppliances-amenities{
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 6px;
}

.Apart_wrap{
  display: flex;
  flex-wrap: wrap;
}

.Apart_inf{
  background-color: #f2f2f2;
  color: #a2a2a2;
  font-size: 14px;
}

.header_inf{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.showPhoneNumber{
  background-color: #17bed0;
  color: #ffffff;
  width: 100%;
  height: 70px;
  padding: 5px 5px;
  font-weight: 600;
  font-size: 18px;
}

.showPhoneNumber:hover{
  background-color: #05727e;
}

.Apart_ItemsWrap{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #a2a2a2;
  margin-left: 15px;
}

.showedPhoneNumber{
  margin: 0 auto;
  color: #ffffff;
  background-color: #17bed0;
  height: 70px;
  padding: 10px 25px;
  display: none;
  font-weight: 600;
}

.showed{
  display: block;
}

.closed{
  display: none;
}

.phoneNumber{
  font-size: 24px;
  margin: 15px 15px;
  font-weight: 800;
}

.wrapForNameAndPrice{
  display: flex;
  justify-content: space-between;
}

.priceHolder{
  color: #a2a2a2;
  margin-top: 1%;
  color: #17bed0;
  font-size: 25px;
  font-weight: 600;
  padding-right: 50px;
}

.price{
  color: #fc354c;
  font-size: 45px;
  font-weight: 800;
}

.service{
  display: flex;
  justify-content: space-around;
}

.wrap_inf{
  background-color: #f2f2f2;
  padding: 5px 15px;
}

.goBack{
  position: absolute;
  color: #05727e;
  margin-top: -35px;
  padding: 5px 10px;
}

.goBack:hover{
  background-color: #05727e;
  color: #ffffff;
}
