    <div class="wrap" *ngIf="apartment">
      <div  class="wrapForNameAndPrice">
          <h2  class="Apart_nameOfApart">{{apartment.name}} </h2>
          <div class="priceHolder"> 1 ніч <span class="price">{{apartment.price}}</span> грн </div>
      </div>
      <p class="Apart_address">{{apartment.adress.city}}, {{apartment.adress.street}}, {{apartment.adress.house}}</p>

      <div class="Apart_wrap">
      <div class="imgWrap">
          <button class="btn carousel start" (click)="imgApartmentBefore()"><</button>
          <button class="btn carousel end" (click)="imgApartmentAfter()">></button>
          <img [class.imgMin]="imgApart===2 || imgApart===3 ||  imgApart===4" src="{{apartment.photo}}" [class.imgApartment]="imgApart===1" (click)="imgApartment(1)"  alt="фото квартири {{apartment.id}}">
          <img [class.imgApartment]="imgApart===2" class="imgMin" [class.imgMin]="imgApart!=2" src="{{apartment?.photo2}}" alt="фото квартири {{apartment?.id}}">
          <img [class.imgApartment]="imgApart===3" class="imgMin" [class.imgMin]="imgApart!=3" src="{{apartment?.photo3}}" alt="фото квартири {{apartment?.id}}">
          <img [class.imgApartment]="imgApart===4" class="imgMin" [class.imgMin]="imgApart!=4" src="{{apartment?.photo4}}" alt="фото квартири {{apartment?.id}}">
      </div>
      <section class="Apart_aboutWrap">
          <button class="btn showPhoneNumber" [class.closed]="phoneNumberShow" (click)="phoneNumber()">Подивитися телефон для бронювання</button>
          <div class="showedPhoneNumber" [class.showed]="phoneNumberShow"> Номер телефона для бронювання: <br> <span class="phoneNumber">{{apartment.phoneNumber}}</span>  </div>
        <div class="Apart_about">
            <div class="Apart_ItemsWrap">
                <p class="header_inf">{{rentType}} </p>
                <p class="header_inf">{{placeType}} </p>
                <h4 class="header_inf">Зручності в помешканні</h4>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="amenitiesEssentialThings">Предмети першої необхідності</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="amenitiesInternet">Безкоштовний інтернет</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="amenitiesTv">Телевізор</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="amenitiesHeating">Опалення</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="amenitiesWorkplace">Стіл/робоче місце</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="fireplace">Камін</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="balcony">Балкон/лоджія</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="parkingPlace">Парковка/гараж</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="smokeDetector">Датчик диму</p>
            </div>
            <div class="Apart_ItemsWrap">
                <h4 class="header_inf">Обмеження</h4>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="forBoyOnly">Лише для чоловіків </p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="forGirlOnly">Лише для жінок</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="forFamilyOnly">Лише для сім'ї</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="withoutChildren">Без дітей</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="notForStudents">Без домашніх улюбленців</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="withoutPets">Духова шафа</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="notForSmokingPeople">Паління заборонено</p>
                <p class="Apart_about-kitchenAppliances-amenities" *ngIf="notForForeigners">Не для іноземців</p>
            </div>
        </div>
    </section>
    </div>
    <div class="wrap_inf">
        <h3 class="Apart_about-header">Про житло:</h3>
        <div class="Apart_inf">
          <h3 class="header_inf">Опис:</h3>
          <p class="Apart_inf-about">{{apartment.about}}</p>
        </div>

        <section class="service">
        <div class="Apart_ItemsWrap">
            <h4 class="header_inf">Зручності в помешканні</h4>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="amenitiesEssentialThings">Предмети першої необхідності</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="amenitiesInternet">Безкоштовний інтернет</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="amenitiesTv">Телевізор</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="amenitiesHeating">Опалення</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="amenitiesWorkplace">Стіл/робоче місце</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="fireplace">Камін</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="balcony">Балкон/лоджія</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="parkingPlace">Парковка/гараж</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="smokeDetector">Датчик диму</p>
        </div>
        <div class="Apart_ItemsWrap">
            <h4 class="header_inf">Кухонна та побутова техніка</h4>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="kitchenPlate">Плита</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="kitchenOven">Духова шафа</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="kitchenDishwasher">Посудомийна машина</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="kitchenMicrowave">Мікрохвильова піч</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="kitchenWashingMachine">Пральна машина</p>
        </div>
        <div class="Apart_ItemsWrap">
            <h4 class="header_inf">Обмеження</h4>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="forBoyOnly">Лише для чоловіків </p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="forGirlOnly">Лише для жінок</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="forFamilyOnly">Лише для сім'ї</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="withoutChildren">Без дітей</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="notForStudents">Без домашніх улюбленців</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="withoutPets">Духова шафа</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="notForSmokingPeople">Паління заборонено</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="notForForeigners">Не для іноземців</p>
        </div>
        <div class="Apart_ItemsWrap">
            <h4 class="header_inf">Санвузол</h4>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="toilet">Туалет</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="yardToilet">Туалет у дворі</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="shower">Ванна/душ</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="jacuzzi">Джакузі</p>
            <p class="Apart_about-kitchenAppliances-amenities" *ngIf="pool">Бассейн</p>
        </div>
      </section>
    </div>

      <button class="btn goBack" (click)="goBack()">Назад</button>
    </div>


